// Base thematic styles

body {
  color: $dark-gray;
  background-color: #fff;
}

a {
  color: $blue;
  text-decoration: none;
  &:hover {
    color: darken($blue, 10%);
    text-decoration: underline;
  }
}


.bg-gray {
  background-color: #EAEAEA;
}

.taco-headline {
  font-size: 6rem;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
