<aside class="bg-gray py2 mb4 mt4">
  <div class="container">
    <form action="//alexbaldwin.us7.list-manage.com/subscribe/post?u=772a21ec21a471387f298f0ab&amp;id=58952ccc20" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form form-light center" target="_blank" novalidate>
      <input type="email" value="" name="EMAIL" class="email input" id="mce-EMAIL" placeholder="E-mail address" required>
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_772a21ec21a471387f298f0ab_58952ccc20" tabindex="-1" value=""></div>
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button button-blue">
    </form>
  </div>
</aside>
