<aside class="bg-gray mb4 mt4 p2">
  <div class="container center">
    <h2 class="h2">Are you a true taco lover?</h2>
    <p>Join the newsletter to get taco recipes, history, fun facts, and more sent to your inbox. Plus, for subscribing we'll give you all of our favorite <a href="http://giphy.com/gifs/taco-food-weird-X1tTJzw2LMyIw/fullscreen">taco .gifs</a>, for real.</p>
    <form action="//alexbaldwin.us7.list-manage.com/subscribe/post?u=772a21ec21a471387f298f0ab&amp;id=58952ccc20" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form form-light" target="_blank" novalidate>
      <input type="email" value="" name="EMAIL" class="email full-width input mt2" id="mce-EMAIL" placeholder="E-mail address" required>
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_772a21ec21a471387f298f0ab_58952ccc20" tabindex="-1" value=""></div>
      <input type="submit" value="Sign me up" name="subscribe" id="mc-embedded-subscribe" class="button mt2 half-width button-blue">
    </form>
    <small class="mt1 block mb3 mid-gray">You'll recieve a total of seven emails, one for every day of taco week.<br>No promotions, only love.</small>
  </div>
</aside>
