---
title: Why Tacos Are Better Than Burritos
---
%header.table
  .table-cell.taco-header
    %h2.h4.caps= link_to 'Taco Week', '/', class: 'mid-gray'
    %h1.h1.taco-headline Tacos vs. Burritos
    %p.taco-subhead 5. You already know who wins, in a salsa landslide
%section.container
  %h3.h2 Smothered in love
  %p Team <a href="http://imgur.com/r/LadyBoners/SS0XH">Taco</a> won a long time ago, but for you pour souls who still believe in the return of Team <a href="http://fc08.deviantart.net/fs70/i/2012/362/2/b/sad_burrito_by_insanewolfy-d5pis9z.png">Burrito</a>, we wanted to rub it in even more. There's no such thing as someone who likes <a href="http://i.imgur.com/QM3BL.jpg">tacos and burritos</a> equally. It's a victory lap of the top five reasons why tacos are better than burritos.
  %figure.center
    = image_tag('tacos-vs-burritos.png', class: 'fit')
    %cite.mid-gray.italic.block.py2 Illustration by <a href="https://twitter.com/LauRARbee">Laura "Benedict Arnold Burrito Lover" Bohill</a>
  %p <strong>Taco Fun Fact:</strong> <em>The <a href="http://i.imgur.com/xwDSy.jpg">largest flour taco in the world weighed 750 kg</a> (1,654 lb) and was made by the city of Mexicali and Cocinex SA de CV, in Mexicali, Baja California, Mexico on March 8th, 2003. </em> - <a href="http://www.guinnessworldrecords.com/world-records/1000/largest-taco">Guinness World Records</a>
  %p 5. Proper customization &mdash; You're already salivating thinking about <a href="http://i.imgur.com/85uL4.jpg">squeezing those limes atop the holiest of foods</a>. Add any topping you want at any point in the meal.
  %p 4. Flavor spotlight &mdash; Keep your <a href="http://giphy.com/gifs/X29HsXcZy8zQs/fullscreen">worthless</a> empty calorie rice and beans. Tacos highlight the single most ingredient without the need for any fluff. You also don't have to worry about "flavor fragmentation", where you get a mouthful of unevenly distributed brown rice more undesirable than a "Mike Tyson bite".
  %p 3. Ability to have an afternoon &mdash; Whatever part of the day you had left is gone nursing a burrito baby in your tummy. Burritos aren't considered a <em>snack food</em> for a reason, they're one size fits all cement brick in your stomach waiting to happen.
  %p 2. No distractions &mdash; Each individual taco is a <a href="http://i.imgur.com/JW1Ne.jpg">perfect expression</a> of itself.
  %p 1. Freedom of choice &mdash; Because we all have commitment issues, why tie yourself down to a single item outside your control. Sample <a href="http://www.travelyourself.ca/wp-content/uploads/2012/03/taco-3.jpg">one of each option</a>, don't <a href="http://i.imgur.com/FJ47o3J.jpg">lock your tastebuds down</a>. You can order <a href="http://26.media.tumblr.com/tumblr_lsy9wrMFJH1qd4n9xo1_500.png">one-hundred tacos</a> or a single one. 

  = partial 'layouts/share'
  %h3.h2 Tiny Hamster Eating Tiny Burritos
  %p Burritos aren't even fit for human consumption, they're so terrible we should feed them all to hamsters. This is the only suitable use for a burrito, entertainment of lower species.
  .fitvid <iframe width="560" height="315" src="//www.youtube.com/embed/JOCtdw9FG-s?rel=0" frameborder="0" allowfullscreen></iframe>
  %p.italic.mid-gray Source: <a href="https://www.youtube.com/watch?v=JOCtdw9FG-s">HelloDenizen</a>
= partial 'layouts/email'
