---
title: Why Tacos Are Better Than Burritos
---
%header.table
  .table-cell.taco-header
    %h2.h4.caps= link_to 'Taco Week', '/', class: 'mid-gray'
    %h1.h1.taco-headline Tacos vs. Burritos
    %p.taco-subhead 5. Hint: Tacos win
%section.container
  %h3.h2 Seriously they're better
  %p Welcome to the first day of Taco Week! Our journey praising glorious tacos around the world starts now. Today is all about the breakfast taco, the best $2 you can spend in the morning. Or if you're not near the <a href="http://www.nytimes.com/2010/03/10/dining/10united.html">epicenter of breakfast taco heaven</a>, they're quick and easy to make at home.
  %ol
    %li
    %li
    %li
    %li
    %li
    %li
    %li
    %li
    %li
    %li

  %h3.h2 Tiny Hamster Eating Tiny Burritos
  %p Burritos aren't even fit for human consumption, they're so terrible we should feed them all to hamsters. This is the only suitable use for a burrito.
  .fitvid <iframe width="560" height="315" src="//www.youtube.com/embed/JOCtdw9FG-s?rel=0" frameborder="0" allowfullscreen></iframe>
  %p.italic.mid-gray Source: <a href="https://www.youtube.com/watch?v=JOCtdw9FG-s">HelloDenizen</a>
= partial 'layouts/email'
